src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_recipientdata_templatedataitem.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/recipientdata/templatedataitem"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/recipientdata/templatedataitem">
			<xs:complexType name="ArrayOfTemplateDataItem">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="TemplateDataItem" nillable="true"
						type="tns:TemplateDataItem" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfTemplateDataItem" nillable="true"
				type="tns:ArrayOfTemplateDataItem" />
			<xs:complexType name="TemplateDataItem">
				<xs:sequence>
					<xs:element minOccurs="0" name="Items" nillable="true"
						type="tns:ArrayOfTemplateDataItem" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Value" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="TemplateDataItem" nillable="true"
				type="tns:TemplateDataItem" />
		</xs:schema>
