src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_initiatesigningrequest_securetransferdata.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesigningrequest/securetransferdata"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesigningrequest/securetransferdata">
			<xs:import schemaLocation="http___schemas.datacontract.org_2004_07_Visma.Addo.WebService.Contracts.v2_0.Messages.xsd"
				namespace="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_recipientdata.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/recipientdata" />
			<xs:complexType name="SecureTransferData">
				<xs:sequence>
					<xs:element minOccurs="0" name="AllowRecipientComment"
						type="xs:boolean" />
					<xs:element minOccurs="0" name="Documents"
						nillable="true" type="q1:ArrayOfSigningDocument"
						xmlns:q1="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages" />
					<xs:element minOccurs="0" name="Recipients"
						nillable="true" type="q2:ArrayOfRecipientData"
						xmlns:q2="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/recipientdata" />
					<xs:element minOccurs="0" name="ReferenceNumber"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Sender" nillable="true"
						type="q3:SenderData"
						xmlns:q3="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages" />
					<xs:element minOccurs="0" name="SenderComment"
						nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SecureTransferData" nillable="true"
				type="tns:SecureTransferData" />
		</xs:schema>
