src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getsigningstatus_transaction.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningstatus/transaction"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningstatus/transaction">
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_SigningStateEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/SigningStateEnum" />
			<xs:import schemaLocation="http___schemas.microsoft.com_2003_10_Serialization_.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xs:complexType
				name="ArrayOfGetSigningStatus.Transaction">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="GetSigningStatus.Transaction" nillable="true"
						type="tns:GetSigningStatus.Transaction" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfGetSigningStatus.Transaction"
				nillable="true" type="tns:ArrayOfGetSigningStatus.Transaction" />
			<xs:complexType name="GetSigningStatus.Transaction">
				<xs:sequence>
					<xs:element minOccurs="0" name="State"
						type="q1:TransactionStateEnum"
						xmlns:q1="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/SigningStateEnum" />
					<xs:element minOccurs="0" name="TransactionToken"
						type="ser:guid" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetSigningStatus.Transaction"
				nillable="true" type="tns:GetSigningStatus.Transaction" />
		</xs:schema>
