src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_mergedocumentsrequest.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/mergedocumentsrequest"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/mergedocumentsrequest">
			<xs:import schemaLocation="http___schemas.microsoft.com_2003_10_Serialization_Arrays.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
			<xs:complexType name="MergeDocumentsRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="MergeData"
						nillable="true" type="q1:ArrayOfKeyValueOfstringstring"
						xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
					<xs:element minOccurs="0" name="SigningToken"
						nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="MergeDocumentsRequest" nillable="true"
				type="tns:MergeDocumentsRequest" />
		</xs:schema>
