src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getsigningstatus_campaign.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningstatus/campaign"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningstatus/campaign">
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getsigningstatus_signing.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningstatus/signing" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_CampaignStateEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/CampaignStateEnum" />
			<xs:complexType
				name="ArrayOfGetCampaignsResponse.Campaign">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="GetCampaignsResponse.Campaign" nillable="true"
						type="tns:GetCampaignsResponse.Campaign" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfGetCampaignsResponse.Campaign"
				nillable="true" type="tns:ArrayOfGetCampaignsResponse.Campaign" />
			<xs:complexType name="GetCampaignsResponse.Campaign">
				<xs:sequence>
					<xs:element minOccurs="0" name="Signings"
						nillable="true" type="q1:ArrayOfGetCampaignsResponse.Signing"
						xmlns:q1="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningstatus/signing" />
					<xs:element minOccurs="0" name="State"
						type="q2:CampaignStateEnum"
						xmlns:q2="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/CampaignStateEnum" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetCampaignsResponse.Campaign"
				nillable="true" type="tns:GetCampaignsResponse.Campaign" />
		</xs:schema>
