src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_gettransactiondetailsresponse_campaignsigning.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/gettransactiondetailsresponse/campaignsigning"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/gettransactiondetailsresponse/campaignsigning">
			<xs:import schemaLocation="http___schemas.microsoft.com_2003_10_Serialization_.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xs:complexType name="ArrayOfCampaignSigning">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="CampaignSigning" nillable="true" type="tns:CampaignSigning" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfCampaignSigning" nillable="true"
				type="tns:ArrayOfCampaignSigning" />
			<xs:complexType name="CampaignSigning">
				<xs:sequence>
					<xs:element minOccurs="0" name="SigningToken"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="TransactionToken"
						type="ser:guid" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CampaignSigning" nillable="true"
				type="tns:CampaignSigning" />
		</xs:schema>
