src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_generatedocumentresponse_bccrecipient.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/generatedocumentresponse/bccrecipient"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/generatedocumentresponse/bccrecipient">
			<xs:complexType
				name="ArrayOfGetSigningResponse.BccRecipient">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="GetSigningResponse.BccRecipient" nillable="true"
						type="tns:GetSigningResponse.BccRecipient" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfGetSigningResponse.BccRecipient"
				nillable="true" type="tns:ArrayOfGetSigningResponse.BccRecipient" />
			<xs:complexType name="GetSigningResponse.BccRecipient">
				<xs:sequence>
					<xs:element minOccurs="0" name="Email" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetSigningResponse.BccRecipient"
				nillable="true" type="tns:GetSigningResponse.BccRecipient" />
		</xs:schema>
