src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_generatedocumentrequest.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/generatedocumentrequest"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/generatedocumentrequest">
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_recipientdata.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/recipientdata" />
			<xs:complexType name="GenerateDocumentRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="DocumentTemplate"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="RecipientData"
						nillable="true" type="q1:ArrayOfRecipientData"
						xmlns:q1="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/recipientdata" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GenerateDocumentRequest" nillable="true"
				type="tns:GenerateDocumentRequest" />
		</xs:schema>
