src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_filedata.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/filedata"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/filedata">
			<xs:complexType name="FileData">
				<xs:sequence>
					<xs:element minOccurs="0" name="ContentType"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Data" nillable="true"
						type="xs:base64Binary" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FileData" nillable="true"
				type="tns:FileData" />
		</xs:schema>
