src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_campaignrecipient.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/campaignrecipient"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/campaignrecipient">
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_AuthenticationMethodEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/AuthenticationMethodEnum" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_DistributionMethodEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/DistributionMethodEnum" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_SigningMethodEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/SigningMethodEnum" />
			<xs:complexType name="ArrayOfCampaignRecipient">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="CampaignRecipient" nillable="true"
						type="tns:CampaignRecipient" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfCampaignRecipient"
				nillable="true" type="tns:ArrayOfCampaignRecipient" />
			<xs:complexType name="CampaignRecipient">
				<xs:sequence>
					<xs:element minOccurs="0" name="AdditionalData"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="AuthenticationMethod"
						nillable="true" type="q1:AuthenticationMethodEnum"
						xmlns:q1="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/AuthenticationMethodEnum" />
					<xs:element minOccurs="0" name="BankIdSsn"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Cpr" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Cvr" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="DistributionMethod"
						nillable="true" type="q2:DistributionMethodEnum"
						xmlns:q2="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/DistributionMethodEnum" />
					<xs:element minOccurs="0" name="Email" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="ExternalId"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="FinnishSsn"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Phone" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Secret" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0"
						name="SendDistributionDocument" nillable="true" type="xs:boolean" />
					<xs:element minOccurs="0"
						name="SendDistributionNotification" nillable="true"
						type="xs:boolean" />
					<xs:element minOccurs="0" name="SendWelcomeNotification"
						nillable="true" type="xs:boolean" />
					<xs:element minOccurs="0" name="SigningMethod"
						nillable="true" type="q3:SigningMethodEnum"
						xmlns:q3="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/SigningMethodEnum" />
					<xs:element minOccurs="0" name="Title" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CampaignRecipient" nillable="true"
				type="tns:CampaignRecipient" />
		</xs:schema>
