src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_initiatesigning_templateoverride.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesigning/templateoverride"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesigning/templateoverride">
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_AuthenticationMethodEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/AuthenticationMethodEnum" />
			<xs:import schemaLocation="http___schemas.datacontract.org_2004_07_Visma.Addo.WebService.Contracts.v2_0.Messages.xsd"
				namespace="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_DocumentEncryptionEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/DocumentEncryptionEnum" />
			<xs:import schemaLocation="http___schemas.microsoft.com_2003_10_Serialization_.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_LastReminderEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/LastReminderEnum" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_MessageTypeEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/MessageTypeEnum" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_NotificationIntervalEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/NotificationIntervalEnum" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_SigningMethodEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/SigningMethodEnum" />
			<xs:complexType name="TemplateOverride">
				<xs:sequence>
					<xs:element minOccurs="0"
						name="AllowApproveAllAttachments" nillable="true"
						type="xs:boolean" />
					<xs:element minOccurs="0" name="AuthenticationMethod"
						nillable="true" type="q1:AuthenticationMethodEnum"
						xmlns:q1="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/AuthenticationMethodEnum" />
					<xs:element minOccurs="0" name="CustomMessageTemplates"
						nillable="true" type="q2:ArrayOfMessageTemplate"
						xmlns:q2="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages" />
					<xs:element minOccurs="0" name="DocumentEncryption"
						nillable="true" type="q3:DocumentEncryptionEnum"
						xmlns:q3="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/DocumentEncryptionEnum" />
					<xs:element minOccurs="0" name="Duration"
						nillable="true" type="ser:duration" />
					<xs:element minOccurs="0" name="LastReminder"
						nillable="true" type="q4:LastReminderEnum"
						xmlns:q4="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/LastReminderEnum" />
					<xs:element minOccurs="0" name="MessageType"
						nillable="true" type="q5:MessageTypeEnum"
						xmlns:q5="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/MessageTypeEnum" />
					<xs:element minOccurs="0" name="MessageTypes"
						nillable="true" type="q6:ArrayOfMessageTypeEnum"
						xmlns:q6="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/MessageTypeEnum" />
					<xs:element minOccurs="0" name="NotificationInterval"
						nillable="true" type="q7:NotificationIntervalEnum"
						xmlns:q7="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/NotificationIntervalEnum" />
					<xs:element minOccurs="0"
						name="NotificationIntervalDays" nillable="true" type="xs:int" />
					<xs:element minOccurs="0" name="ShowDate"
						nillable="true" type="xs:boolean" />
					<xs:element minOccurs="0" name="ShowSignerName"
						nillable="true" type="xs:boolean" />
					<xs:element minOccurs="0" name="SigningMethod"
						nillable="true" type="q8:SigningMethodEnum"
						xmlns:q8="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/SigningMethodEnum" />
					<xs:element minOccurs="0" name="SmsVerification"
						nillable="true" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="TemplateOverride" nillable="true"
				type="tns:TemplateOverride" />
		</xs:schema>
