src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getaccountinfo_contact.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getaccountinfo/contact"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getaccountinfo/contact">
			<xs:complexType name="ArrayOfContact">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="Contact" nillable="true" type="tns:Contact" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfContact" nillable="true"
				type="tns:ArrayOfContact" />
			<xs:complexType name="Contact">
				<xs:sequence>
					<xs:element minOccurs="0" name="Cvr" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Email" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Phone" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Title" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="Contact" nillable="true"
				type="tns:Contact" />
		</xs:schema>
