src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getsigningstatus_recipient.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningstatus/recipient"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningstatus/recipient">
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getsigningstatus_transaction.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningstatus/transaction" />
			<xs:complexType
				name="ArrayOfGetSigningStatus.Recipient">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="GetSigningStatus.Recipient" nillable="true"
						type="tns:GetSigningStatus.Recipient" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfGetSigningStatus.Recipient"
				nillable="true" type="tns:ArrayOfGetSigningStatus.Recipient" />
			<xs:complexType name="GetSigningStatus.Recipient">
				<xs:sequence>
					<xs:element minOccurs="0" name="AdditionalData"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Email" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Title" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Transactions"
						nillable="true" type="q1:ArrayOfGetSigningStatus.Transaction"
						xmlns:q1="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningstatus/transaction" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetSigningStatus.Recipient"
				nillable="true" type="tns:GetSigningStatus.Recipient" />
		</xs:schema>
