src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_updatetransactionrequest.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/updatetransactionrequest"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/updatetransactionrequest">
			<xs:import schemaLocation="http___schemas.microsoft.com_2003_10_Serialization_.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xs:complexType name="UpdateTransactionRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="RecipientEmail"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="RecipientName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="RecipientPhoneNo"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="TransactionToken"
						type="ser:guid" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="UpdateTransactionRequest"
				nillable="true" type="tns:UpdateTransactionRequest" />
		</xs:schema>
