src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_recipientdata.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/recipientdata"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/recipientdata">
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_AuthenticationMethodEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/AuthenticationMethodEnum" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_DistributionMethodEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/DistributionMethodEnum" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_DocumentEncryptionEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/DocumentEncryptionEnum" />
			<xs:import schemaLocation="http___schemas.microsoft.com_2003_10_Serialization_.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_MessageTypeEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/MessageTypeEnum" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_SigningMethodEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/SigningMethodEnum" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_recipientdata_templatedatacontainer.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/recipientdata/templatedatacontainer" />
			<xs:import schemaLocation="http___schemas.microsoft.com_2003_10_Serialization_Arrays.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
			<xs:complexType name="ArrayOfRecipientData">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="RecipientData" nillable="true" type="tns:RecipientData" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfRecipientData" nillable="true"
				type="tns:ArrayOfRecipientData" />
			<xs:complexType name="RecipientData">
				<xs:sequence>
					<xs:element minOccurs="0" name="AdditionalData"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Address" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0"
						name="AllowApproveAllAttachments" nillable="true"
						type="xs:boolean" />
					<xs:element minOccurs="0" name="AuthenticationMethod"
						nillable="true" type="q1:AuthenticationMethodEnum"
						xmlns:q1="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/AuthenticationMethodEnum" />
					<xs:element minOccurs="0" name="CVR" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Cpr" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="DistributionMethod"
						nillable="true" type="q2:DistributionMethodEnum"
						xmlns:q2="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/DistributionMethodEnum" />
					<xs:element minOccurs="0" name="DocumentEncryption"
						nillable="true" type="q3:DocumentEncryptionEnum"
						xmlns:q3="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/DocumentEncryptionEnum" />
					<xs:element minOccurs="0" name="Email" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Id" type="ser:guid" />
					<xs:element minOccurs="0" name="IsQuestionnaireEnabled"
						nillable="true" type="xs:boolean" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="NorwegianSsn"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="NotificationMethod"
						nillable="true" type="q4:MessageTypeEnum"
						xmlns:q4="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/MessageTypeEnum" />
					<xs:element minOccurs="0" name="NotificationMethods"
						nillable="true" type="q5:ArrayOfMessageTypeEnum"
						xmlns:q5="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/MessageTypeEnum" />
					<xs:element minOccurs="0" name="PID" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Phone" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="SSN" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Secret" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0"
						name="SendDistributionDocument" nillable="true" type="xs:boolean" />
					<xs:element minOccurs="0"
						name="SendDistributionNotification" nillable="true"
						type="xs:boolean" />
					<xs:element minOccurs="0" name="SendWelcomeNotification"
						nillable="true" type="xs:boolean" />
					<xs:element minOccurs="0" name="SigningMethod"
						nillable="true" type="q6:SigningMethodEnum"
						xmlns:q6="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/SigningMethodEnum" />
					<xs:element minOccurs="0" name="SwedishSsn"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="TemplateData"
						nillable="true" type="q7:TemplateDataContainer"
						xmlns:q7="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/recipientdata/templatedatacontainer" />
					<xs:element minOccurs="0" name="Title" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="TupasSsn"
						nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="RecipientData" nillable="true"
				type="tns:RecipientData" />
			<xs:complexType
				name="ArrayOfGenerateDocumentRegionData">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="GenerateDocumentRegionData" nillable="true"
						type="tns:GenerateDocumentRegionData" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfGenerateDocumentRegionData"
				nillable="true" type="tns:ArrayOfGenerateDocumentRegionData" />
			<xs:complexType name="GenerateDocumentRegionData">
				<xs:sequence>
					<xs:element minOccurs="0" name="Objects" nillable="true"
						type="q8:ArrayOfstring"
						xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
					<xs:element minOccurs="0" name="RegionName"
						nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GenerateDocumentRegionData"
				nillable="true" type="tns:GenerateDocumentRegionData" />
		</xs:schema>
