src/main/resources/wsdl/http___schemas.datacontract.org_2004_07_Visma.Addo.WebService.Contracts.v2_0.Messages.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"
			xmlns:tns="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages">
			<xs:import schemaLocation="http___schemas.microsoft.com_2003_10_Serialization_.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_MessageTemplateType.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/MessageTemplateType" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_TemplateUsageType.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/TemplateUsageType" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_DocumentFlowStateEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/DocumentFlowStateEnum" />
			<xs:import schemaLocation="http___schemas.datacontract.org_2004_07_System.xsd"
				namespace="http://schemas.datacontract.org/2004/07/System" />
			<xs:import schemaLocation="http___schemas.datacontract.org_2004_07_Visma.Addo.Model.Entities.Enums.xsd"
				namespace="http://schemas.datacontract.org/2004/07/Visma.Addo.Model.Entities.Enums" />
			<xs:complexType name="ArrayOfSigningDocument">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="SigningDocument" nillable="true" type="tns:SigningDocument" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfSigningDocument" nillable="true"
				type="tns:ArrayOfSigningDocument" />
			<xs:complexType name="SigningDocument">
				<xs:sequence>
					<xs:element minOccurs="0" name="Data" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Id" type="ser:guid" />
					<xs:element minOccurs="0" name="IsShared"
						type="xs:boolean" />
					<xs:element minOccurs="0" name="MimeType"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SigningDocument" nillable="true"
				type="tns:SigningDocument" />
			<xs:complexType name="SenderData">
				<xs:sequence>
					<xs:element minOccurs="0" name="CompanyName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Email" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Phone" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SenderData" nillable="true"
				type="tns:SenderData" />
			<xs:complexType name="SequenceOrder">
				<xs:sequence>
					<xs:element minOccurs="0" name="SigningSequenceItems"
						nillable="true" type="tns:ArrayOfSequenceItem" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SequenceOrder" nillable="true"
				type="tns:SequenceOrder" />
			<xs:complexType name="ArrayOfSequenceItem">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="SequenceItem" nillable="true" type="tns:SequenceItem" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfSequenceItem" nillable="true"
				type="tns:ArrayOfSequenceItem" />
			<xs:complexType name="SequenceItem">
				<xs:sequence>
					<xs:element minOccurs="0" name="RecipientId"
						type="ser:guid" />
					<xs:element minOccurs="0" name="SequenceNumber"
						type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SequenceItem" nillable="true"
				type="tns:SequenceItem" />
			<xs:complexType name="ArrayOfMessageTemplate">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="MessageTemplate" nillable="true" type="tns:MessageTemplate" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfMessageTemplate" nillable="true"
				type="tns:ArrayOfMessageTemplate" />
			<xs:complexType name="MessageTemplate">
				<xs:sequence>
					<xs:element minOccurs="0" name="Body" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="MessageTemplateType"
						type="q1:MessageTemplateType"
						xmlns:q1="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/MessageTemplateType" />
					<xs:element minOccurs="0" name="Subject" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="UsageType"
						type="q2:TemplateUsageType"
						xmlns:q2="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/TemplateUsageType" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="MessageTemplate" nillable="true"
				type="tns:MessageTemplate" />
			<xs:complexType
				name="InitiateSigningSynchronouslyResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="Recipients"
						nillable="true"
						type="tns:ArrayOfInitiateSigningSynchronouslyResponse.RecipientToken" />
					<xs:element minOccurs="0" name="SigningToken"
						nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="InitiateSigningSynchronouslyResponse"
				nillable="true" type="tns:InitiateSigningSynchronouslyResponse" />
			<xs:complexType
				name="ArrayOfInitiateSigningSynchronouslyResponse.RecipientToken">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="InitiateSigningSynchronouslyResponse.RecipientToken"
						nillable="true"
						type="tns:InitiateSigningSynchronouslyResponse.RecipientToken" />
				</xs:sequence>
			</xs:complexType>
			<xs:element
				name="ArrayOfInitiateSigningSynchronouslyResponse.RecipientToken"
				nillable="true"
				type="tns:ArrayOfInitiateSigningSynchronouslyResponse.RecipientToken" />
			<xs:complexType
				name="InitiateSigningSynchronouslyResponse.RecipientToken">
				<xs:sequence>
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Token" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element
				name="InitiateSigningSynchronouslyResponse.RecipientToken"
				nillable="true"
				type="tns:InitiateSigningSynchronouslyResponse.RecipientToken" />
			<xs:complexType name="ArrayOfEnclosureDocument">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="EnclosureDocument" nillable="true"
						type="tns:EnclosureDocument" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfEnclosureDocument"
				nillable="true" type="tns:ArrayOfEnclosureDocument" />
			<xs:complexType name="EnclosureDocument">
				<xs:sequence>
					<xs:element minOccurs="0" name="Data" nillable="true"
						type="xs:base64Binary" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="EnclosureDocument" nillable="true"
				type="tns:EnclosureDocument" />
			<xs:complexType name="ArrayOfGeneratedDocument">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="GeneratedDocument" nillable="true"
						type="tns:GeneratedDocument" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfGeneratedDocument"
				nillable="true" type="tns:ArrayOfGeneratedDocument" />
			<xs:complexType name="GeneratedDocument">
				<xs:sequence>
					<xs:element minOccurs="0" name="Data" nillable="true"
						type="xs:base64Binary" />
					<xs:element minOccurs="0" name="RecipientId"
						type="ser:guid" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GeneratedDocument" nillable="true"
				type="tns:GeneratedDocument" />
			<xs:complexType name="ArrayOfSignedDocument">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="SignedDocument" nillable="true" type="tns:SignedDocument" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfSignedDocument" nillable="true"
				type="tns:ArrayOfSignedDocument" />
			<xs:complexType name="SignedDocument">
				<xs:complexContent mixed="false">
					<xs:extension base="tns:DocumentBase">
						<xs:sequence>
							<xs:element minOccurs="0" name="FlowId" type="xs:int" />
							<xs:element minOccurs="0" name="Id" type="ser:guid" />
							<xs:element minOccurs="0" name="State"
								type="q3:DocumentFlowStateEnum"
								xmlns:q3="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/DocumentFlowStateEnum" />
							<xs:element minOccurs="0" name="XmlDSig"
								nillable="true" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="SignedDocument" nillable="true"
				type="tns:SignedDocument" />
			<xs:complexType name="DocumentBase">
				<xs:sequence>
					<xs:element minOccurs="0" name="Data" nillable="true"
						type="xs:base64Binary" />
					<xs:element minOccurs="0" name="MimeType"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="DocumentBase" nillable="true"
				type="tns:DocumentBase" />
			<xs:complexType name="ArrayOfEnclosure">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="Enclosure" nillable="true" type="tns:Enclosure" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfEnclosure" nillable="true"
				type="tns:ArrayOfEnclosure" />
			<xs:complexType name="Enclosure">
				<xs:complexContent mixed="false">
					<xs:extension base="tns:DocumentBase">
						<xs:sequence>
							<xs:element minOccurs="0" name="IsApproved"
								type="xs:boolean" />
							<xs:element minOccurs="0" name="IsInbound"
								type="xs:boolean" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="Enclosure" nillable="true"
				type="tns:Enclosure" />
			<xs:complexType name="GetRejectionCommentResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="RejectionComments"
						nillable="true" type="tns:ArrayOfRejectionComment" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetRejectionCommentResponse"
				nillable="true" type="tns:GetRejectionCommentResponse" />
			<xs:complexType name="ArrayOfRejectionComment">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="RejectionComment" nillable="true"
						type="tns:RejectionComment" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfRejectionComment" nillable="true"
				type="tns:ArrayOfRejectionComment" />
			<xs:complexType name="RejectionComment">
				<xs:sequence>
					<xs:element minOccurs="0" name="Date"
						type="q4:DateTimeOffset"
						xmlns:q4="http://schemas.datacontract.org/2004/07/System" />
					<xs:element minOccurs="0" name="Message" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="RecipientEmail"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="RecipientName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="RecipientPhone"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="TransactionToken"
						type="ser:guid" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="RejectionComment" nillable="true"
				type="tns:RejectionComment" />
			<xs:complexType name="GroupResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="Description"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Id" type="xs:int" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GroupResponse" nillable="true"
				type="tns:GroupResponse" />
			<xs:complexType name="GetGroupsResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="Groups" nillable="true"
						type="tns:ArrayOfGroupResponse" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetGroupsResponse" nillable="true"
				type="tns:GetGroupsResponse" />
			<xs:complexType name="ArrayOfGroupResponse">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="GroupResponse" nillable="true" type="tns:GroupResponse" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfGroupResponse" nillable="true"
				type="tns:ArrayOfGroupResponse" />
			<xs:complexType name="CreateUserResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="Email" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="FullName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Password"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="UserId" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CreateUserResponse" nillable="true"
				type="tns:CreateUserResponse" />
			<xs:complexType name="CreateAccountRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="Address" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="CVR" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="City" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="CompanyName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Country" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Email" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="ExternalId"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="FullName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Locale"
						type="q5:Language"
						xmlns:q5="http://schemas.datacontract.org/2004/07/Visma.Addo.Model.Entities.Enums" />
					<xs:element minOccurs="0" name="Phone" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="ZipCode" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CreateAccountRequest" nillable="true"
				type="tns:CreateAccountRequest" />
			<xs:complexType name="CreateAccountResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="Email" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="FullName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Id" type="xs:int" />
					<xs:element minOccurs="0" name="Password"
						nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CreateAccountResponse" nillable="true"
				type="tns:CreateAccountResponse" />
		</xs:schema>
