src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_bccrecipientdata.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/bccrecipientdata"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/bccrecipientdata">
			<xs:complexType name="ArrayOfBccRecipientData">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="BccRecipientData" nillable="true"
						type="tns:BccRecipientData" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfBccRecipientData" nillable="true"
				type="tns:ArrayOfBccRecipientData" />
			<xs:complexType name="BccRecipientData">
				<xs:sequence>
					<xs:element minOccurs="0" name="Email" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="BccRecipientData" nillable="true"
				type="tns:BccRecipientData" />
		</xs:schema>
