src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_mergedocumentsresponse_mergedocument.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/mergedocumentsresponse/mergedocument"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/mergedocumentsresponse/mergedocument">
			<xs:complexType name="ArrayOfMergeDocument">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="MergeDocument" nillable="true" type="tns:MergeDocument" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfMergeDocument" nillable="true"
				type="tns:ArrayOfMergeDocument" />
			<xs:complexType name="MergeDocument">
				<xs:sequence>
					<xs:element minOccurs="0" name="ContentType"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Data" nillable="true"
						type="xs:base64Binary" />
					<xs:element minOccurs="0" name="DocumentFlowId"
						type="xs:int" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="MergeDocument" nillable="true"
				type="tns:MergeDocument" />
		</xs:schema>
