src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_gettemplatemessagesresponse.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/gettemplatemessagesresponse"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/gettemplatemessagesresponse">
			<xs:import schemaLocation="http___schemas.microsoft.com_2003_10_Serialization_.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getsigningtemplatesresponse_SigningTemplate.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningtemplatesresponse/SigningTemplate" />
			<xs:complexType name="GetTemplateMessagesResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="Id" type="ser:guid" />
					<xs:element minOccurs="0" name="TemplateMessages"
						nillable="true" type="q1:ArrayOfSigningTemplateMessage"
						xmlns:q1="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningtemplatesresponse/SigningTemplate" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetTemplateMessagesResponse"
				nillable="true" type="tns:GetTemplateMessagesResponse" />
		</xs:schema>
