src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_startcampaignsigningresponse.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/startcampaignsigningresponse"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/startcampaignsigningresponse">
			<xs:import schemaLocation="http___schemas.microsoft.com_2003_10_Serialization_.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xs:complexType name="StartCampaignSigningResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="SigningToken"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="TransactionToken"
						type="ser:guid" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="StartCampaignSigningResponse"
				nillable="true" type="tns:StartCampaignSigningResponse" />
		</xs:schema>
