src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getaccountinfo.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getaccountinfo"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getaccountinfo">
			<xs:import schemaLocation="http___schemas.datacontract.org_2004_07_Visma.Addo.Model.Entities.Enums.Deliveries.xsd"
				namespace="http://schemas.datacontract.org/2004/07/Visma.Addo.Model.Entities.Enums.Deliveries" />
			<xs:import schemaLocation="http___schemas.datacontract.org_2004_07_Visma.Addo.Model.Entities.Enums.xsd"
				namespace="http://schemas.datacontract.org/2004/07/Visma.Addo.Model.Entities.Enums" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getaccountinfo_contact.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getaccountinfo/contact" />
			<xs:complexType name="GetAccountInfo">
				<xs:sequence>
					<xs:element minOccurs="0"
						name="AccountDistributionMethod" type="q1:DeliveryMethod"
						xmlns:q1="http://schemas.datacontract.org/2004/07/Visma.Addo.Model.Entities.Enums.Deliveries" />
					<xs:element minOccurs="0" name="AccountId" type="xs:int" />
					<xs:element minOccurs="0" name="AccountLevel"
						type="q2:AccountLevel"
						xmlns:q2="http://schemas.datacontract.org/2004/07/Visma.Addo.Model.Entities.Enums" />
					<xs:element minOccurs="0" name="CanValidateCpr"
						type="xs:boolean" />
					<xs:element minOccurs="0" name="Contacts"
						nillable="true" type="q3:ArrayOfContact"
						xmlns:q3="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getaccountinfo/contact" />
					<xs:element minOccurs="0" name="CreditsLeft"
						type="xs:decimal" />
					<xs:element minOccurs="0" name="Email" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="ExternalId"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="IsEnterprise"
						type="xs:boolean" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="Phone" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetAccountInfo" nillable="true"
				type="tns:GetAccountInfo" />
		</xs:schema>
