src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_SigningItem.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/SigningItem"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/SigningItem">
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_SigningStateEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/SigningStateEnum" />
			<xs:complexType name="ArrayOfSigningItem">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="SigningItem" nillable="true" type="tns:SigningItem" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfSigningItem" nillable="true"
				type="tns:ArrayOfSigningItem" />
			<xs:complexType name="SigningItem">
				<xs:sequence>
					<xs:element minOccurs="0" name="CreatedOn"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="ExpiresOn"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="ReferenceNumber"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="State"
						type="q1:SigningStateEnum"
						xmlns:q1="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/SigningStateEnum" />
					<xs:element minOccurs="0" name="Token" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SigningItem" nillable="true"
				type="tns:SigningItem" />
		</xs:schema>
