src/main/resources/wsdl/http___schemas.datacontract.org_2004_07_Visma.Addo.Model.Models.Events.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.datacontract.org/2004/07/Visma.Addo.Model.Models.Events"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.datacontract.org/2004/07/Visma.Addo.Model.Models.Events">
			<xs:complexType name="ArrayOfEventItem">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="EventItem" nillable="true" type="tns:EventItem" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfEventItem" nillable="true"
				type="tns:ArrayOfEventItem" />
			<xs:complexType name="EventItem">
				<xs:sequence>
					<xs:element minOccurs="0" name="Message" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="SendOutDate"
						type="xs:dateTime" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="EventItem" nillable="true"
				type="tns:EventItem" />
		</xs:schema>
