src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import schemaLocation="http___www.microsoft.com_practices_EnterpriseLibrary_2007_01_wcf_validation.xsd"
				namespace="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" />
			<xs:import schemaLocation="http___schemas.datacontract.org_2004_07_Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.xsd"
				namespace="http://schemas.datacontract.org/2004/07/Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF" />
			<xs:import schemaLocation="http___schemas.microsoft.com_2003_10_Serialization_.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_initiatesigningrequest.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesigningrequest" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_initiatesigning_templateoverride.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesigning/templateoverride" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_initiatesigningresponse.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesigningresponse" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_initiatesecuretransferrequest.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesecuretransferrequest" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_initiatesecuretransferresponse.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesecuretransferresponse" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_startsynchronoussigningrequest.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/startsynchronoussigningrequest" />
			<xs:import schemaLocation="http___schemas.datacontract.org_2004_07_Visma.Addo.WebService.Contracts.v2_0.Messages.xsd"
				namespace="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_initiatecampaignrequest.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatecampaignrequest" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_initiatecampaignresponse.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatecampaignresponse" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_startcampaignsigningrequest.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/startcampaignsigningrequest" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_startcampaignsigningresponse.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/startcampaignsigningresponse" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_generatedocumentrequest.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/generatedocumentrequest" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_generatedocumentresponse.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/generatedocumentresponse" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_mergedocumentsrequest.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/mergedocumentsrequest" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_mergedocumentsresponse.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/mergedocumentsresponse" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getsigningtemplatesresponse.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningtemplatesresponse" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_cancelsigningresponse.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/cancelsigningresponse" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getsigningstatus.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningstatus" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getaccountinfo.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getaccountinfo" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_generatedocumentfromdocxrequest.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/generatedocumentfromdocxrequest" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_gettransactiondetailsresponse.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/gettransactiondetailsresponse" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_updatetransactionrequest.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/updatetransactionrequest" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getaccountinfo_contact.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getaccountinfo/contact" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_filedata.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/filedata" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getcampaignsresponse.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getcampaignsresponse" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_gettemplatemessagesresponse.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/gettemplatemessagesresponse" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_creategrouprequest.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/creategrouprequest" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_ADDUSERTOGROUPREQUEST.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/ADDUSERTOGROUPREQUEST" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_createuserrequest.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/createuserrequest" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_GetSigningsRequest.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/GetSigningsRequest" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_GetSigningsResponse.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/GetSigningsResponse" />
			<xs:element name="InitiateSigning">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q1:guid"
							xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="request"
							nillable="true" type="q2:InitiateSigningRequest"
							xmlns:q2="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesigningrequest" />
						<xs:element minOccurs="0" name="templateOverride"
							nillable="true" type="q3:TemplateOverride"
							xmlns:q3="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesigning/templateoverride" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InitiateSigningResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="InitiateSigningResult"
							nillable="true" type="q4:InitiateSigningResponse"
							xmlns:q4="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesigningresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InitiateSecureTransfer">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q5:guid"
							xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="request"
							nillable="true" type="q6:InitiateSecureTransferRequest"
							xmlns:q6="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesecuretransferrequest" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InitiateSecureTransferResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
							name="InitiateSecureTransferResult" nillable="true"
							type="q7:InitiateSecureTransferResponse"
							xmlns:q7="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesecuretransferresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InitiateSigningSynchronously">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q8:guid"
							xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="request"
							nillable="true" type="q9:InitiateSigningSynchronouslyRequest"
							xmlns:q9="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/startsynchronoussigningrequest" />
						<xs:element minOccurs="0" name="templateOverride"
							nillable="true" type="q10:TemplateOverride"
							xmlns:q10="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesigning/templateoverride" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InitiateSigningSynchronouslyResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
							name="InitiateSigningSynchronouslyResult" nillable="true"
							type="q11:InitiateSigningSynchronouslyResponse"
							xmlns:q11="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InitiateCampaign">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q12:guid"
							xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="request"
							nillable="true" type="q13:InitiateCampaignRequest"
							xmlns:q13="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatecampaignrequest" />
						<xs:element minOccurs="0" name="templateOverride"
							nillable="true" type="q14:TemplateOverride"
							xmlns:q14="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesigning/templateoverride" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InitiateCampaignResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="InitiateCampaignResult"
							nillable="true" type="q15:InitiateCampaignResponse"
							xmlns:q15="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatecampaignresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StartCampaignSigning">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q16:guid"
							xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="request"
							nillable="true" type="q17:StartCampaignSigningRequest"
							xmlns:q17="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/startcampaignsigningrequest" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StartCampaignSigningResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
							name="StartCampaignSigningResult" nillable="true"
							type="q18:StartCampaignSigningResponse"
							xmlns:q18="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/startcampaignsigningresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GenerateDocument">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q19:guid"
							xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="request"
							nillable="true" type="q20:GenerateDocumentRequest"
							xmlns:q20="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/generatedocumentrequest" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GenerateDocumentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="GenerateDocumentResult"
							nillable="true" type="q21:GenerateDocumentResponse"
							xmlns:q21="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/generatedocumentresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MergeDocuments">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q22:guid"
							xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="request"
							nillable="true" type="q23:MergeDocumentsRequest"
							xmlns:q23="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/mergedocumentsrequest" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MergeDocumentsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="MergeDocumentsResult"
							nillable="true" type="q24:MergeDocumentsResponse"
							xmlns:q24="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/mergedocumentsresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Login">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="email" nillable="true"
							type="xs:string" />
						<xs:element minOccurs="0" name="password"
							nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LoginResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="LoginResult"
							type="q25:guid"
							xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdLogin">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="email" nillable="true"
							type="xs:string" />
						<xs:element minOccurs="0" name="password"
							nillable="true" type="xs:string" />
						<xs:element minOccurs="0" name="profileName"
							nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdLoginResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="AdLoginResult"
							type="q26:guid"
							xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSigningTemplates">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q27:guid"
							xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSigningTemplatesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
							name="GetSigningTemplatesResult" nillable="true"
							type="q28:GetSigningTemplatesResponse"
							xmlns:q28="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningtemplatesresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSecureTransferTemplates">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q29:guid"
							xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSecureTransferTemplatesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
							name="GetSecureTransferTemplatesResult" nillable="true"
							type="q30:GetSigningTemplatesResponse"
							xmlns:q30="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningtemplatesresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSystemTemplates">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q31:guid"
							xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSystemTemplatesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
							name="GetSystemTemplatesResult" nillable="true"
							type="q32:GetSigningTemplatesResponse"
							xmlns:q32="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningtemplatesresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSigning">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q33:guid"
							xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="signingToken"
							nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSigningResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="GetSigningResult"
							nillable="true" type="q34:GetSigningResponse"
							xmlns:q34="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/generatedocumentresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSigningWithoutDocuments">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q35:guid"
							xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="signingToken"
							nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSigningWithoutDocumentsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
							name="GetSigningWithoutDocumentsResult" nillable="true"
							type="q36:GetSigningResponse"
							xmlns:q36="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/generatedocumentresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CancelSigning">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q37:guid"
							xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="signingToken"
							nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CancelSigningResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="CancelSigningResult"
							nillable="true" type="q38:CancelSigningResponse"
							xmlns:q38="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/cancelsigningresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSigningStatus">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q39:guid"
							xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="signingToken"
							nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSigningStatusResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="GetSigningStatusResult"
							nillable="true" type="q40:GetSigningStatus"
							xmlns:q40="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningstatus" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAccountInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q41:guid"
							xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAccountInfoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="GetAccountInfoResult"
							nillable="true" type="q42:GetAccountInfo"
							xmlns:q42="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getaccountinfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GenerateDocumentWithMergeData">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q43:guid"
							xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="request"
							nillable="true" type="q44:GenerateDocumentWithMergeDataRequest"
							xmlns:q44="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/generatedocumentfromdocxrequest" />
						<xs:element minOccurs="0" name="encryptDocument"
							type="xs:boolean" />
						<xs:element minOccurs="0" name="encryptionKey"
							nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GenerateDocumentWithMergeDataResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
							name="GenerateDocumentWithMergeDataResult" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetTransactionDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q45:guid"
							xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="transactionToken"
							type="q46:guid"
							xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetTransactionDetailsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
							name="GetTransactionDetailsResult" nillable="true"
							type="q47:GetTransactionDetailsResponse"
							xmlns:q47="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/gettransactiondetailsresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CancelTransaction">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q48:guid"
							xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="transactionToken"
							type="q49:guid"
							xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CancelTransactionResponse">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="ReactivateTransaction">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q50:guid"
							xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="transactionToken"
							type="q51:guid"
							xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReactivateTransactionResponse">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateTransaction">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q52:guid"
							xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0"
							name="updateTransactionRequest" nillable="true"
							type="q53:UpdateTransactionRequest"
							xmlns:q53="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/updatetransactionrequest" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateTransactionResponse">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="SaveRecipient">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q54:guid"
							xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="contact"
							nillable="true" type="q55:Contact"
							xmlns:q55="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getaccountinfo/contact" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SaveRecipientResponse">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteRecipient">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q56:guid"
							xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="contact"
							nillable="true" type="q57:Contact"
							xmlns:q57="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getaccountinfo/contact" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteRecipientResponse">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="ExportRecipients">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q58:guid"
							xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="separator"
							nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExportRecipientsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="ExportRecipientsResult"
							nillable="true" type="q59:FileData"
							xmlns:q59="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/filedata" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ImportRecipients">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q60:guid"
							xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="data" nillable="true"
							type="xs:base64Binary" />
						<xs:element minOccurs="0" name="separator"
							nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ImportRecipientsResponse">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="GetCampaigns">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q61:guid"
							xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="externalReference"
							nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetCampaignsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="GetCampaignsResult"
							nillable="true" type="q62:GetCampaignsResponse"
							xmlns:q62="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getcampaignsresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetTemplateMessages">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q63:guid"
							xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="templateId"
							type="q64:guid"
							xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetTemplateMessagesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
							name="GetTemplateMessagesResult" nillable="true"
							type="q65:GetTemplateMessagesResponse"
							xmlns:q65="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/gettemplatemessagesresponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRejectionComment">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q66:guid"
							xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="signingToken"
							nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRejectionCommentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
							name="GetRejectionCommentResult" nillable="true"
							type="q67:GetRejectionCommentResponse"
							xmlns:q67="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateGroup">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q68:guid"
							xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="request"
							nillable="true" type="q69:CreateGroupRequest"
							xmlns:q69="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/creategrouprequest" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateGroupResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="CreateGroupResult"
							nillable="true" type="q70:GroupResponse"
							xmlns:q70="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetGroups">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q71:guid"
							xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetGroupsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="GetGroupsResult"
							nillable="true" type="q72:GetGroupsResponse"
							xmlns:q72="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddUserToGroup">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q73:guid"
							xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="request"
							nillable="true" type="q74:AddUserToGroupRequest"
							xmlns:q74="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/ADDUSERTOGROUPREQUEST" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddUserToGroupResponse">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateUser">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q75:guid"
							xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="request"
							nillable="true" type="q76:CreateUserRequest"
							xmlns:q76="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/createuserrequest" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateUserResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="CreateUserResult"
							nillable="true" type="q77:CreateUserResponse"
							xmlns:q77="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateAccount">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q78:guid"
							xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="request"
							nillable="true" type="q79:CreateAccountRequest"
							xmlns:q79="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateAccountResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="CreateAccountResult"
							nillable="true" type="q80:CreateAccountResponse"
							xmlns:q80="http://schemas.datacontract.org/2004/07/Visma.Addo.WebService.Contracts.v2_0.Messages" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSignings">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q81:guid"
							xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="request"
							nillable="true" type="q82:GetSigningsRequest"
							xmlns:q82="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/GetSigningsRequest" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetSigningsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="GetSigningsResult"
							nillable="true" type="q83:GetSigningsResponse"
							xmlns:q83="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/GetSigningsResponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RefreshToken">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q84:guid"
							xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RefreshTokenResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="RefreshTokenResult"
							type="xs:dateTime" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Logout">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q85:guid"
							xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LogoutResponse">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="GetTransactionToken">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="token" type="q86:guid"
							xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/" />
						<xs:element minOccurs="0" name="transactionId"
							type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetTransactionTokenResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
							name="GetTransactionTokenResult" nillable="true" type="q87:guid"
							xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
