src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_initiatesecuretransferrequest.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesecuretransferrequest"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesecuretransferrequest">
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_initiatesigningrequest_securetransferdata.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesigningrequest/securetransferdata" />
			<xs:import schemaLocation="http___schemas.microsoft.com_2003_10_Serialization_.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xs:complexType name="InitiateSecureTransferRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="ExpirationUrl"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="Name" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="SecureTransferData"
						nillable="true" type="q1:SecureTransferData"
						xmlns:q1="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/initiatesigningrequest/securetransferdata" />
					<xs:element minOccurs="0" name="SigningTemplateId"
						type="ser:guid" />
					<xs:element minOccurs="0"
						name="TransactionStateChangedUrl" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="InitiateSecureTransferRequest"
				nillable="true" type="tns:InitiateSecureTransferRequest" />
		</xs:schema>
