src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_getsigningtemplatesresponse_SigningTemplateAction.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningtemplatesresponse/SigningTemplateAction"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/getsigningtemplatesresponse/SigningTemplateAction">
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_enums_ActionTypeEnum.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/ActionTypeEnum" />
			<xs:complexType name="ArrayOfSigningTemplateAction">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="SigningTemplateAction" nillable="true"
						type="tns:SigningTemplateAction" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfSigningTemplateAction"
				nillable="true" type="tns:ArrayOfSigningTemplateAction" />
			<xs:complexType name="SigningTemplateAction">
				<xs:sequence>
					<xs:element minOccurs="0" name="Method" type="xs:int" />
					<xs:element minOccurs="0" name="MethodParameter"
						nillable="true" type="xs:int" />
					<xs:element minOccurs="0" name="MethodType"
						type="q1:ActionTypeEnum"
						xmlns:q1="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/enums/ActionTypeEnum" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SigningTemplateAction" nillable="true"
				type="tns:SigningTemplateAction" />
		</xs:schema>
