src/main/resources/wsdl/http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_gettransactiondetailsresponse.xsd

		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/gettransactiondetailsresponse"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"
			xmlns:tns="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/gettransactiondetailsresponse">
			<xs:import schemaLocation="http___schemas.datacontract.org_2004_07_Visma.Addo.Model.Models.Events.xsd"
				namespace="http://schemas.datacontract.org/2004/07/Visma.Addo.Model.Models.Events" />
			<xs:import schemaLocation="http___schemas.vismaaddo.net_services_signingservice_v2_0_messages_gettransactiondetailsresponse_comment.xsd"
				namespace="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/gettransactiondetailsresponse/comment" />
			<xs:import schemaLocation="http___schemas.datacontract.org_2004_07_System.xsd"
				namespace="http://schemas.datacontract.org/2004/07/System" />
			<xs:import schemaLocation="http___schemas.microsoft.com_2003_10_Serialization_Arrays.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
			<xs:import schemaLocation="http___schemas.microsoft.com_2003_10_Serialization_.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xs:complexType name="GetTransactionDetailsResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="ActivityLog"
						nillable="true" type="q1:ArrayOfEventItem"
						xmlns:q1="http://schemas.datacontract.org/2004/07/Visma.Addo.Model.Models.Events" />
					<xs:element minOccurs="0" name="AdditionalData"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="AuthenticationMethod"
						type="xs:int" />
					<xs:element minOccurs="0" name="Comments"
						nillable="true" type="q2:ArrayOfComment"
						xmlns:q2="http://schemas.vismaaddo.net/services/signingservice/v2_0/messages/gettransactiondetailsresponse/comment" />
					<xs:element minOccurs="0" name="CreatedOn"
						type="q3:DateTimeOffset"
						xmlns:q3="http://schemas.datacontract.org/2004/07/System" />
					<xs:element minOccurs="0" name="DistributionType"
						type="xs:int" />
					<xs:element minOccurs="0" name="DistributionTypes"
						nillable="true" type="q4:ArrayOfint"
						xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
					<xs:element minOccurs="0" name="ExpireDue"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="NextReminder"
						nillable="true" type="xs:dateTime" />
					<xs:element minOccurs="0" name="RecipientEmail"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="RecipientName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="RecipientPhoneNo"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="RecipientTitle"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="SenderName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="SigningMethod"
						type="xs:int" />
					<xs:element minOccurs="0" name="State" type="xs:int" />
					<xs:element minOccurs="0" name="Token" type="ser:guid" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetTransactionDetailsResponse"
				nillable="true" type="tns:GetTransactionDetailsResponse" />
		</xs:schema>
